@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

--root{
  --main-font: "Playfair", cursive;
  --secondary-font: "Merriweather", serif;
}

.person-card {
  position: relative;
  align-self: center;
  background-color: #dfbb69;
  border-radius: 16px;
  border: 0.5px solid #00000033;
  padding: 10px;
  margin: 1rem;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  min-width: 370px;
  max-width: 370px;
  height: 300px;

}


.edit-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 36px;
  height: 36px;
  background-color: #ececec80;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-icon:hover {
  background-color: #dcdcdc;
  transform: scale(1.05);
}


.profile-image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.person-info h5 {
  font-family: --main-font;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.person-info p {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 0.3rem;
  text-align: left;
}

.person-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.person-button {
  background-color: #a97c37;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 0.95rem;

  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.person-button:hover {
  background-color: #8f672f;
  transform: translateY(-2px);
}

.person-button.secondary {
  background-color: #e0e0e0;
  color: #333;
}

.person-button.secondary:hover {
  background-color: #ccc;
}


