* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('/static/images/backgrounds/familytree/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

main>.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-view-container {
    align-self: start;
    margin: 6px 0 0 6px;
}

#parents-list,
#children-list {
    display: none;
}

#parents-container,
#children-container {
    margin: 5px 0 0 0;
}

.person-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem auto;
    max-width: 100%;
}

.hidden {
    display: none;
}