* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url('/static/images/backgrounds/familytree/fam-view-background.webp');
}

h1,h2 {
    text-align: center;
    margin: 20px 0;
    font-family: 'Merriweather', serif;
    color: #ededed;
}

.dropdown {
    gap: 4px;
}

.dropdown-toggle {
    width: fit-content;
    align-self: center;
}

.dropdown>p{
    color: #ededed;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
}

.add-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 300px;
}

.bi-plus-circle{
    color: #dfbb69
}

.hidden {
    display: none;
}
