{% extends 'base.html' %}
{% load static %}
{% block meta %}
  <meta name="description" content="Try out Yggdrasil - without registration." />
  <meta property="og:title" content="Demo - Yggdrasil" />
  <meta property="og:description" content="Experience the features of the family tree app live in demo mode."/>
{% endblock %}
{% block title %}
  <title>Demo</title>
{% endblock %}
{% block extra_css %}

{% endblock %}

{% block content %}
  <h1 class="hero-title">Follows</h1>
  <p class="hero-subtitle">Insert Demo here</p>
{% endblock %}
