{% load static %}
<div class="person-card shadow-sm">
  <a href="{% url 'edit_person' pov_id person.id %}" class="edit-icon" aria-label="Edit Person"><i class="bi bi-pencil"></i></a>
  {% if 'placeholder' in person.featured_image.url %}
    <img class="profile-image" src="{% static 'images/user_default_images/default-image.webp' %}" alt="placeholder image" />
  {% else %}
    <img class="profile-image" src="{{ person.featured_image.url }}" alt="{{ person.first_name }}" />
  {% endif %}

  <div class="person-info text-center">
    <h5>{{ person.first_name }} {{ person.last_name }}</h5>
    <p>Nickname: {{person.nickname}}</p>
    <p>Birthday: {{person.birthday}}</p>
  </div>

  <div class="person-actions">
    <a href="{% url 'view_details' pov_id person.id %}" class="btn btn-primary btn-sm" aria-label="View Details">View Details</a>
    <a href="{% url 'classic_tree_view' person.id %}" class="btn btn-secondary btn-sm">View Family Tree</a>
    {% if person.id != pov_id %}
      <a href="{% url 'family_view' person.id %}" class="btn btn-secondary btn-sm" aria-label="Change Focus">Focus this person</a>
    {% endif %}
  </div>
</div>
