{% load static %}
<div class="person-card shadow-sm">
  {% if "placeholder" in person.featured_image.url %}
    <img class="profile-image" src="{% static 'images/user_default_images/default-image.png' %}" alt="placeholder image" />
  {% else %}
    <img class="profile-image" src="{{ person.featured_image.url }}" alt="{{ person.first_name }}" />
  {% endif %}

  <div class="person-info text-center">
    <h5>{{ person.first_name }} {{ person.last_name }}</h5>
    {% if person.birth_date %}
      <p class="text-muted">Born: {{ person.birth_date }}</p>
    {% endif %}
  </div>

  <div class="person-actions">
    <a href="{% url 'view_details' pov_id person.id %}" class="btn btn-outline-primary btn-sm" aria-label="View Details">View Details</a>
    <a href="{% url 'edit_person' pov_id person.id %}" class="btn btn-outline-primary btn-sm" aria-label="Person">Edit</a>
    {% if person.id != pov_id %}
      <a href="{% url 'family_view' person.id %}" class="btn btn-outline-secondary btn-sm" aria-label="Change Focus">Change Focus</a>
    {% endif %}
  </div>
</div>
