{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Edit Person</title>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/familytree/edit_person.css' %}" />
{% endblock %}
{% block form_media %}
  {{ form.media }}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-5">
    <div class="text-center">
      <h2>You are editing: {{ person.first_name }}</h2>
      {% if 'placeholder' in person.featured_image.url %}
        <img class="profile-image" src="{% static 'images/user_default_images/default-image.webp' %}" alt="placeholder image" />
      {% else %}
        <img class="profile-image" src="{{ person.featured_image.url }}" alt="{{ person.first_name }}" />
      {% endif %}
    </div>

    <form id="person-Form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      {{ relation_form.relation_type|as_crispy_field }}
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{% url 'delete_person' pov_id person.id %}" class="btn btn-danger" aria-label="Delete">Delete</a>
      <a href="{% url 'family_view' pov_id %}" class="btn btn-secondary" aria-label="Cancel">Cancel</a>
    </form>
  </div>
{% endblock %}
