{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Family Tree View</title>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/familytree/entire_view.css' %}" />
{% endblock %}

{% block content %}
  <div class="container text-center">
    <h2 class="mb-5">Your Family Tree</h2>

    <!-- Grandparents -->
    <div class="tree-level">
      <div class="title">
        <h3>Grandparents</h3>
      </div>
      <div class="person-container">
        {% for gp in grandparents %}
          <div class="person-box">
            <div class="person-name">
              <p>{{ gp.first_name }} {{ gp.last_name }}</p>
            </div>
            <div class="person-actions mt-2">
              <a href="{% url 'view_details' pov.id gp.id %}" class="btn btn-outline-primary">View Details</a>
              <a href="{% url 'classic_tree_view' gp.id %}" class="btn btn-outline-secondary">View Familytree</a>
              <a href="{% url 'family_view' gp.id %}" class="btn btn-outline-secondary">Focused View</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Parents -->
    <div class="tree-level">
      <div class="title">
        <h3>Parents</h3>
      </div>
      <div class="person-container">
        {% for pp in partner_parents %}
          <div class="person-box alt-line">
            <div class="person-name">
              <p>{{ pp.first_name }} {{ pp.last_name }} (partners side)</p>
            </div>
            <div class="person-actions mt-2">
              <a href="{% url 'view_details' pov.id pp.id %}" class="btn btn-outline-primary">View Details</a>
              <a href="{% url 'classic_tree_view' pp.id %}" class="btn btn-outline-secondary">View Familytree</a>
              <a href="{% url 'family_view' pp.id %}" class="btn btn-outline-secondary">Focused View</a>
            </div>
          </div>
        {% endfor %}
        {% for p in parents %}
          <div class="person-box">
            <div class="person-name">
              <p>{{ p.first_name }} {{ p.last_name }}</p>
            </div>
            <div class="person-actions mt-2">
              <a href="{% url 'view_details' pov.id p.id %}" class="btn btn-outline-primary">View Details</a>
              <a href="{% url 'classic_tree_view' p.id %}" class="btn btn-outline-secondary">View Familytree</a>
              <a href="{% url 'family_view' p.id %}" class="btn btn-outline-secondary">Focused View</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- POV & Partner -->
    <div class="tree-level">
      <div class="title">
        {% if partners|length > 0 %}
          <h3>You and your Partners</h3>
        {% elif partners|length < 1 %}
          <h3>You</h3>
        {% else %}
          <h3>You and your Partner</h3>
        {% endif %}
      </div>
      <div class="person-container">
        <div class="person-box pov">
          <div class="person-name">
            <p>
              {{ pov.first_name }} {{ pov.last_name }} <span class="current-focus">(currenty)</span>
            </p>
          </div>
          <div class="person-actions mt-2">
            <a href="{% url 'view_details' pov.id pov.id %}" class="btn btn-outline-primary">View Details</a>
            <a href="{% url 'family_view' pov.id %}" class="btn btn-outline-secondary">Focused View</a>
          </div>
        </div>

        {% for partner in partners %}
          <div class="person-box partner">
            <div class="person-name">
              <p>{{ partner.first_name }} {{ partner.last_name }}</p>
            </div>
            <div class="person-actions mt-2">
              <a href="{% url 'view_details' pov.id partner.id %}" class="btn btn-outline-primary">View Details</a>
              <a href="{% url 'classic_tree_view' partner.id %}">View Familytree</a>
              <a href="{% url 'family_view' partner.id %}" class="btn btn-outline-secondary">Focused View</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Children -->
    <div class="tree-level">
      <div class="title">
        <h3>Children</h3>
      </div>
      <div class="person-container">
        {% for c in children %}
          <div class="person-box child">
            <div class="person-name">
              <p>{{ c.first_name }} {{ c.last_name }}</p>
            </div>
            <div class="person-actions mt-2">
              <a href="{% url 'view_details' pov.id c.id %}" class="btn btn-outline-primary">View Details</a>
              <a href="{% url 'classic_tree_view' c.id %}">View Familytree</a>
              <a href="{% url 'family_view' c.id %}" class="btn btn-outline-secondary">Focused View</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
