{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Family Tree View</title>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/familytree/entire_view.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
{% endblock %}

{% block content %}
  <!-- Button trigger modal -->
  <div class="container-fluid mt-2">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn modalButton" data-bs-toggle="modal" data-bs-target="#tutorialModal"><i class="bi bi-info-circle-fill"></i> Info</button>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="tutorial" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tutorialModalLabel">How does this work?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          In this view, you can explore your family tree in an interactive way.
          <br><br>
          - View your relationships: Once registered, you can view your direct relationships such as grandparents, parents, siblings, partners, and children.
          <br><br>
          - You can always switch between Perspectives by clicking the "View Familytree" or "Focused View" buttons for any person in your tree.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modalButton" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center mt-3">
    <h2 class="mb-5">{{ pov.first_name }}'s Family Tree</h2>

    <!-- Grandparents -->
    {% if grandparents|length > 0 %}
      <div class="tree-level">
        <div class="title">
          <h3>Grandparents</h3>
        </div>
        <div class="person-container">
          {% for gp in grandparents %}
            <div class="person-box">
              <div class="person-name">
                <p>{{ gp.first_name }} {{ gp.last_name }}</p>
                {% if gp.birth_date %}
                  <p class="birthday-display">
                    {{ gp.birth_date }}{% if gp.death_date %}
                      - {{ gp.death_date }}
                    {% endif %}
                  </p>
                {% else %}
                  <p class="birthday-display">Birthday unknown</p>
                {% endif %}
              </div>
              <div class="person-actions mt-2">
                <a href="{% url 'view_details' pov.id gp.id %}" class="btn">View Details</a>
                <a href="{% url 'classic_tree_view' gp.id %}" class="btn">View Familytree</a>
                <a href="{% url 'family_view' gp.id %}" class="btn">Focused View</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <!-- Parents -->
    {% if partner_parents|length > 0 or parents|length > 0 %}
      <div class="tree-level">
        <div class="title">
          <h3>Parents</h3>
        </div>
        <div class="person-container">
          {% for pp in partner_parents %}
            <div class="person-box alt-line">
              <div class="person-name">
                <p>{{ pp.first_name }} {{ pp.last_name }} (partners side)</p>
                {% if pp.birth_date %}
                  <p class="birthday-display">
                    {{ pp.birth_date }}{% if pp.death_date %}
                      - {{ pp.death_date }}
                    {% endif %}
                  </p>
                {% else %}
                  <p class="birthday-display">Birthday unknown</p>
                {% endif %}
              </div>
              <div class="person-actions mt-2">
                <a href="{% url 'view_details' pov.id pp.id %}" class="btn">View Details</a>
                <a href="{% url 'classic_tree_view' pp.id %}" class="btn">View Familytree</a>
                <a href="{% url 'family_view' pp.id %}" class="btn">Focused View</a>
              </div>
            </div>
          {% endfor %}
          {% for p in parents %}
            <div class="person-box">
              <div class="person-name">
                <p>{{ p.first_name }} {{ p.last_name }}</p>
                {% if p.birth_date %}
                  <p class="birthday-display">
                    {{ p.birth_date }}{% if p.death_date %}
                      - {{ p.death_date }}
                    {% endif %}
                  </p>
                {% else %}
                  <p class="birthday-display">Birthday unknown</p>
                {% endif %}
              </div>
              <div class="person-actions mt-2">
                <a href="{% url 'view_details' pov.id p.id %}" class="btn">View Details</a>
                <a href="{% url 'classic_tree_view' p.id %}" class="btn">View Familytree</a>
                <a href="{% url 'family_view' p.id %}" class="btn">Focused View</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <!-- Siblings -->

    {% if siblings|length > 0 or parents|length > 0 %}
      <div class="tree-level">
        <div class="title">
          <h3>Siblings</h3>
        </div>
        <div class="person-container">
          {% for sibling in siblings %}
            <div class="person-box alt-line">
              <div class="person-name">
                <p>{{ sibling.first_name }} {{ sibling.last_name }}</p>
                {% if sibling.birth_date %}
                  <p class="birthday-display">
                    {{ sibling.birth_date }}{% if sibling.death_date %}
                      - {{ sibling.death_date }}
                    {% endif %}
                  </p>
                {% else %}
                  <p class="birthday-display">Birthday unknown</p>
                {% endif %}
              </div>
              <div class="person-actions mt-2">
                <a href="{% url 'view_details' pov.id sibling.id %}" class="btn">View Details</a>
                <a href="{% url 'classic_tree_view' sibling.id %}" class="btn">View Familytree</a>
                <a href="{% url 'family_view' sibling.id %}" class="btn">Focused View</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <!-- POV & Partner -->
    <div class="tree-level">
      <div class="title">
        {% if partners|length > 0 %}
          <h3>You and your Partners</h3>
        {% elif partners|length < 1 %}
          <h3>You</h3>
        {% else %}
          <h3>You and your Partner</h3>
        {% endif %}
      </div>
      <div class="person-container">
        <div class="person-box pov">
          <div class="person-name">
            <p>{{ pov.first_name }} {{ pov.last_name }}</p>
            {% if pov.birth_date %}
              <p class="birthday-display">
                {{ pov.birth_date }}{% if pov.death_date %}
                  - {{ pov.death_date }}
                {% endif %}
              </p>
            {% else %}
              <p class="birthday-display">Birthday unknown</p>
            {% endif %}
          </div>
          <div class="person-actions mt-2">
            <a href="{% url 'view_details' pov.id pov.id %}" class="btn">View Details</a>
            <a href="{% url 'classic_tree_view' pov.id %}" class="btn btn-outline-secondary deactivated">You view your Familytree</a>
            <a href="{% url 'family_view' pov.id %}" class="btn">Focused View</a>
          </div>
        </div>

        {% for partner in partners %}
          <div class="person-box partner">
            <div class="person-name">
              <p>{{ partner.first_name }} {{ partner.last_name }}</p>
              {% if partner.birth_date %}
                <p class="birthday-display">
                  {{ partner.birth_date }}{% if partner.death_date %}
                    - {{ partner.death_date }}
                  {% endif %}
                </p>
              {% else %}
                <p class="birthday-display">Birthday unknown</p>
              {% endif %}
            </div>
            <div class="person-actions mt-2">
              <a href="{% url 'view_details' pov.id partner.id %}" class="btn">View Details</a>
              <a href="{% url 'classic_tree_view' partner.id %}" class="btn">View Familytree</a>
              <a href="{% url 'family_view' partner.id %}" class="btn">Focused View</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Children -->
    {% if children|length > 0 %}
      <div class="tree-level">
        <div class="title">
          <h3>Children</h3>
        </div>
        <div class="person-container">
          {% for c in children %}
            <div class="person-box child">
              <div class="person-name">
                <p>{{ c.first_name }} {{ c.last_name }}</p>
                {% if c.birth_date %}
                  <p class="birthday-display">
                    {{ c.birth_date }}{% if c.death_date %}
                      - {{ c.death_date }}
                    {% endif %}
                  </p>
                {% else %}
                  <p class="birthday-display">Birthday unknown</p>
                {% endif %}
              </div>
              <div class="person-actions mt-2">
                <a href="{% url 'view_details' pov.id c.id %}" class="btn">View Details</a>
                <a href="{% url 'classic_tree_view' c.id %}" class="btn">View Familytree</a>
                <a href="{% url 'family_view' c.id %}" class="btn">Focused View</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
