{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>View my Family</title>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/familytree/family_view.css' %}" />
  <link rel="stylesheet" href="{% static 'css/familytree/_person_card.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
{% endblock %}

{% block content %}
  <!-- Button trigger modal -->
  <button type="button" class="btn modal" data-bs-toggle="modal" data-bs-target="#tutorialModal"><i class="bi bi-info-circle-fill"></i></button>

  <!-- Modal -->
  <div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="tutorial" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tutorialModalLabel">How does this work?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          This page allows you to explore and manage your family tree in an interactive way.

          - View your relationships: Once registered, you can view your direct relationships such as parents, siblings, partners, and children. Use the dropdown menu to choose which group of relatives you want to see.

          - Add family members: Each section gives you the option to add more people by clicking the plus (+) icon.

          - Edit or delete entries: Click on a person’s card to view their details, make changes or delete them.

          - Automatic connections: When you add a relation (e.g., a parent), related connections (like siblings) are updated automatically to keep your tree consistent.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  {% if person %}
    <div class="container py-4">
      <h1 class="text-center mb-4">View your direct relations</h1>

      <div class="d-flex justify-content-center mb-1">
        {% include 'familytree/_person_card.html' with person=person pov_id=person.id %}
      </div>

      <div class="d-flex justify-content-center mb-4">
        <div class="dropdown d-flex justify-content-center flex-column">
          <p id="description">Want to see your family? Just hit the button!</p>
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select relationship</button>

          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" data-value="parents">Parents</button>
            </li>
            <li>
              <button class="dropdown-item" data-value="siblings">Siblings</button>
            </li>
            <li>
              <button class="dropdown-item" data-value="partner">Partner</button>
            </li>
            <li>
              <button class="dropdown-item" data-value="children">Children</button>
            </li>
          </ul>
        </div>
      </div>

      <div id="parents-list" data-relation="parents" style="display:none;">
        <h2 class="text-center mb-3">Those are your parents</h2>
        <div class="d-flex flex-wrap justify-content-center gap-3">
          {% for parent in person.parents.all %}
            {% include 'familytree/_person_card.html' with person=parent pov_id=person.id %}
          {% endfor %}
          <a href="{% url 'add_family_member' %}?relation=parent&person_id={{ person.id }}" class="add-button col-2 m-2" aria-label="Add Parent"><i class="bi bi-plus-circle"></i></a>
        </div>
      </div>

      <div id="sibling-list" data-relation="siblings" style="display:none;">
        <h2 class="text-center mb-3">Those are your siblings</h2>
        <div class="d-flex flex-wrap justify-content-center gap-3">
          {% for sibling in person.siblings.all %}
            {% include 'familytree/_person_card.html' with person=sibling pov_id=person.id %}
          {% endfor %}
          <a href="{% url 'add_family_member' %}?relation=sibling&person_id={{ person.id }}" class="add-button m-2" aria-label="Add Sibling"><i class="bi bi-plus-circle"></i></a>
        </div>
      </div>

      <div id="partner-list" data-relation="partner" style="display:none;">
        <h2 class="text-center mb-3">
          {% if person.partners.count == 1 %}
            This is your partner.
          {% else %}
            Those are your partners.
          {% endif %}
        </h2>
        <div class="d-flex flex-wrap justify-content-center gap-3">
          {% for partner in person.partners.all %}
            {% include 'familytree/_person_card.html' with person=partner pov_id=person.id %}
          {% endfor %}
          <a href="{% url 'add_family_member' %}?relation=partner&person_id={{ person.id }}" class="add-button col-2 m-2" aria-label="Add Partner"><i class="bi bi-plus-circle"></i></a>
        </div>
      </div>

      <div id="children-list" data-relation="children" style="display:none;">
        <h2 class="text-center mb-3">Those are your children</h2>
        <div class="d-flex flex-wrap justify-content-center gap-3">
          {% for child in person.children.all %}
            {% include 'familytree/_person_card.html' with person=child pov_id=person.id %}
          {% endfor %}
          <a href="{% url 'add_family_member' %}?relation=child&person_id={{ person.id }}" class="add-button col-2 m-2" aria-label="Add Child"><i class="bi bi-plus-circle"></i></a>
        </div>
      </div>
    </div>
  {% else %}
    <div id="no-person-container" class="text-center">
      <p>Please register yourself first.</p>
      <a href="{% url 'add_self' %}" class="btn btn-outline-success" aria-label="Add Family Member">Add Family Member</a>
    </div>
  {% endif %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'javascript/family_view.js' %}"></script>
{% endblock %}
