{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>View my Family</title>
{% endblock %}
{% comment %}Own CSS{% endcomment %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/familytree/family_view.css' %}" />
  <link rel="stylesheet" href="{% static 'css/familytree/_person_card.css' %}" />
{% endblock %}
{% block content %}
  {% if person %}
    <div class="container">
      <div class="row">
        <div class="col align-self-start choose-view-container">
          <a href="#" class="btn btn-light">Focused View</a>
          <a href="{% url 'entire_view' %}" class="btn btn-dark">Entire View</a>
        </div>
      </div>

      {% comment %}Display Parents{% endcomment %}
      <div class="row aling-items-center" id="parents-container">
        <div class="col" id="parents-list" style="display: none; margin-top: 1rem;">
          {% for parent in person.parents.all %}
            {% include 'familytree/_person_card.html' with person=parent pov_id=person.id %}
          {% endfor %}
        </div>

        {% if person.parents.all|length < 1 %}
          <div class="col aling-items-center">
            <a href="{% url 'add_family_member' %}?relation=parent&person_id={{ person.id }}" class="btn btn-outline-success" aria-label="Add Parent">Add Parent</a>
          </div>
        {% else %}
          <div class="col align-items-center">
            <button class="btn btn-outline-success" onclick="toggleSection('parents-list')">Display Parents</button>
            <a href="{% url 'add_family_member' %}?relation=parent&person_id={{ person.id }}" class="btn btn-outline-success" aria-label="Add Parent">Add Parent</a>
          </div>
        {% endif %}
      </div>
      {% comment %}Display Siblings{% endcomment %}
      <div class="row aling-items-center">
        <div class="col" id="siblings-container">
          <div id="sibling-list" style="display: none; margin-top: 1rem;">
            {% for sibling in person.siblings.all %}
              {% include 'familytree/_person_card.html' with person=sibling pov_id=person.id %}
            {% endfor %}
          </div>
          {% if person.siblings|length > 0 %}
            <button class="btn btn-outline-success" onclick="toggleSection('sibling-list')">Display Siblings</button>
            <a href="{% url 'add_family_member' %}?relation=sibling&person_id={{ person.id }}" class="btn btn-outline-success" aria-label="Add Sibling">Add Sibling</a>
          {% else %}
            <a href="{% url 'add_family_member' %}?relation=sibling&person_id={{ person.id }}" class="btn btn-outline-success" aria-label="Add Sibling">Add Sibling</a>
          {% endif %}
        </div>
      </div>

      <div class="col" id="middle-section">
        {% comment %}Display Pov-Person{% endcomment %}
        {% include 'familytree/_person_card.html' with person=person pov_id=person.id %}
      </div>

      {% comment %}Display Partner{% endcomment %}
      <div class="col" id="partner-container">
        <div id="partner-list" style="display: none; margin-top: 1rem;">
          {% for partner in person.partners.all %}
            {% include 'familytree/_person_card.html' with person=partner pov_id=person.id %}
          {% endfor %}
        </div>

        {% if person.partner %}
          <button class="btn btn-outline-success" onclick="toggleSection('partner-list')">Display Partner</button>
        {% else %}
          <a href="{% url 'add_family_member' %}?relation=partner&person_id={{ person.id }}" class="btn btn-outline-success" aria-label="Add Partner">Add Partner</a>
        {% endif %}
      </div>

      {% comment %}Display Children{% endcomment %}
      <div class="row align-items-center">
        <div class="col" id="children-container">
          <div id="children-list" style="display: none; margin-top: 1rem;">
            {% for child in person.children.all %}
              {% include 'familytree/_person_card.html' with person=child pov_id=person.id %}
            {% endfor %}
          </div>

          {% if person.children.all|length > 0 %}
            <button class="btn btn-outline-success" onclick="toggleSection('children-list')">Display Children</button>
            <a href="{% url 'add_family_member' %}?relation=child&person_id={{ person.id }}" class="btn btn-outline-success" aria-label="Add Child">Add Child</a>
          {% else %}
            <a href="{% url 'add_family_member' %}?relation=child&person_id={{ person.id }}" class="btn btn-outline-success" aria-label="Add Child">Add Child</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% comment %}Redirect to add self if Person doesnt exist{% endcomment %}
  {% else %}
    <div id="no-person-container">
      <p>Please register yourself first.</p>
      <a href="{% url 'add_self' %}" class="btn btn-outline-success" aria-label="Add Family Member">Add Family Member</a>
    </div>
  {% endif %}
{% endblock %}
{% comment %}JavaScript for toggling sections{% endcomment %}
{% block javascript %}
  <script src="{% static 'javascript/family_view.js' %}"></script>
{% endblock %}
