{% extends 'base.html' %}
{% load static %}
{% comment %} Own CSS {% endcomment %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
  <div id="parents-container">
    {% if owner.parents.all|length == 1 %}
      <button>Display Parent</button>
      <a href="{% url 'add_family_member' %}?relation=parent&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Parent</a>
    {% elif owner.parents.all %}
      <button>Display Parents</button>
    {% else %}
    <a href="{% url 'add_family_member' %}?relation=parent&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Parent</a>
    {% endif %}
  </div>
  <div id="middle-section">
    <div id="siblings-container">
      {% if owner.siblings|length > 0 %}
        <button>Display Sibling</button>
        <a href="{% url 'add_family_member' %}?relation=sibling&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Sibling</a>
      {% else %}
        <a href="{% url 'add_family_member' %}?relation=sibling&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Sibling</a>
      {% endif %}
    </div>
    <div id="owner-info-container">
      <img src="{% static 'images/default-image.png' %}" alt="you" class="profile-image"/>
      <div id="owner-info">
        <p>
          Name: <span id="first-name">{{ owner.first_name }}</span> <span id="last-name">{{ owner.last_name }}</span>
        </p>
        <p>
          Birthday: <span id="birthday">{{ owner.birthday }}</span>
        </p>
      </div>
    </div>
    <div id="spouse-container">
      {% if owner.partner %}
        <button>Display Spouse</button>
      {% else %}
      <a href="{% url 'add_family_member' %}?relation=partner&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Partner</a>
      {% endif %}
    </div>
  </div>
  <div id="children-container">
    {% if owner.parents.all|length == 1 %}
      <button>Display Children</button>
      <a href="{% url 'add_family_member' %}?relation=child&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Child</a>
    {% elif owner.parents.all %}
      <button>Display Children</button>
    {% else %}
    <a href="{% url 'add_family_member' %}?relation=child&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Child</a>
    {% endif %}
  </div>
{% endblock %}
