{% extends 'base.html' %}
{% load static %}

{% comment %}Own CSS{% endcomment %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}
{% block content %}
  {% if owner %}
    <div id="parents-container">
      {% if owner.parents.all|length == 1 %}

        {% if view_mode and persons %}
          <div class="relation-display">
            <h4>{{ view_mode|title }} of {{ owner.first_name }}</h4>
            
            {% for person in persons %}
              {% include 'familytree/_person-card.html' with person=person %}
            {% endfor %}
          
          </div>
        {% endif %}

        <a href="{% url 'add_family_member' %}?relation=parent&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Parent</a>

        {% elif owner.parents.all %}
        <a href="{% url 'family_view' owner.id %}?view=parents" class="btn btn-outline-success">Parents</a>
        {% else %}
        <a href="{% url 'add_family_member' %}?relation=parent&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Parent</a>
      {% endif %}
    </div>

    <div id="middle-section">
      <div id="siblings-container">
        {% if owner.siblings|length > 0 %}
          <a href="{% url 'family_view' owner.id %}?view=siblings" class="btn btn-outline-success">Siblings</a>
          <a href="{% url 'add_family_member' %}?relation=sibling&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Sibling</a>
        {% else %}
          <a href="{% url 'add_family_member' %}?relation=sibling&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Sibling</a>
        {% endif %}
      </div>

      {% include 'familytree/_person-card.html' with person=owner %}
      <div id="spouse-container">
        {% if owner.partner %}
          <a href="{% url 'family_view' owner.id %}?view=partner" class="btn btn-outline-success">Display Partner</a>
        {% else %}
          <a href="{% url 'add_family_member' %}?relation=partner&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Partner</a>
        {% endif %}
      </div>
    </div>

    <div id="children-container">
      {% if owner.children.all|length > 0 %}
        <a href="{% url 'family_view' owner.id %}?view=children" class="btn btn-outline-success">Children</a>
        <a href="{% url 'add_family_member' %}?relation=child&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Child</a>
      {% else %}
        <a href="{% url 'add_family_member' %}?relation=child&owner_id={{ owner.id }}" class="btn btn-outline-success">Add Child</a>
      {% endif %}
    </div>
  {% else %}
  <div id="no-owner-container">
    <p>Please register yourself first.</p>
    <a href="{% url 'add_self' %}" class="btn btn-outline-success">Add Family Member</a>
  </div>
  {% endif %}
{% endblock %}
