{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block content %}
  <div class="person-container">
    {% if person %}
      {% if 'placeholder' in person.featured_image.url %}
      <img class="card-img-top profile-image" src="{% static 'images/default-image.png' %}" alt="placeholder image" />
      {% else %}
        <img class="card-img-top profile-image" src="{{ person.featured_image.url }}" alt="{{ person.first_name }}" />
      {% endif %}

      <p><strong>Name:</strong> {{ person.first_name }} {{ person.last_name }}</p>

      {% if person.nickname %}
        <p><strong>Nickname:</strong> {{ person.nickname }}</p>
      {% endif %}

      {% if person.birth_place %}
        <p><strong>Birthplace:</strong> {{ person.birth_place }}</p>
      {% endif %}

      {% if person.birth_country %}
        <p><strong>Birth Country:</strong> {{ person.get_birth_country_display }}</p>
      {% endif %}

      {% if person.language %}
        <p><strong>Languages:</strong> {{ person.get_language_display }}</p>
      {% endif %}

      {% if person.birth_date %}
        <p><strong>Birth Date:</strong> {{ person.birth_date }}</p>
      {% endif %}

      {% if person.death_date %}
        <p><strong>Death Date:</strong> {{ person.death_date }}</p>
      {% endif %}

      {% if person.occupation %}
        <p><strong>Occupation:</strong> {{ person.occupation }}</p>
      {% endif %}

      {% if person.hobbies %}
        <p><strong>Hobbies:</strong> {{ person.hobbies }}</p>
      {% endif %}

      {% if person.bio %}
        <p><strong>Bio:</strong> {{ person.bio }}</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
