{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>View Person details</title>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/familytree/view_details.css' %}" />
{% endblock %}

{% block content %}
  <div class="detail-container">
    {% if person %}
      <div class="detail-card">
        <div class="text-center mb-4">
          {% if 'placeholder' in person.featured_image.url %}
            <img class="detail-image" src="{% static 'images/user_default_images/default-image.webp' %}" alt="placeholder image" />
          {% else %}
            <img class="detail-image" src="{{ person.featured_image.url }}" alt="{{ person.first_name }}" />
          {% endif %}
          <h2 class="person-name mt-3">{{ person.first_name }} {{ person.last_name }}</h2>
        </div>

        <div class="detail-info">
          {% if person.nickname %}
            <p>
              <strong>Nickname:</strong> {{ person.nickname }}
            </p>
            {% else %}
            <p>
              <strong>Nickname:</strong> No Nickname
          {% endif %}
          {% if person.birth_place %}
            <p>
              <strong>Birthplace:</strong> {{ person.birth_place }}
            </p>
          {% else %}
            <p>
              <strong>Birthplace:</strong> Unknown
            </p>
          {% endif %}
          
          {% if person.birth_country %}
            <p>
              <strong>Birth Country:</strong> {{ person.get_birth_country_display }}
            </p>
          {% else %}
            <p>
              <strong>Birth Country:</strong> Unknown
            </p>
          {% endif %}
          {% if person.language %}
            <p>
              <strong>Languages spoken:</strong> {{ person.get_language_display }}
            </p>
          {% else %}
            <p>
              <strong>Languages spoken:</strong> Unknown
            </p>
          {% endif %}
          {% if person.birth_date %}
            <p>
              <strong>Birth Date:</strong> {{ person.birth_date }}
            </p>
          {% else %}
            <p>
              <strong>Birth Date:</strong> Unknown
            </p>
          {% endif %}
          
          {% if person.death_date %}
            <p>
              <strong>Death Date:</strong> {{ person.death_date }}
            </p>
    
          {% endif %}
          {% if person.occupation %}
            <p>
              <strong>Occupation:</strong> {{ person.occupation }}
            </p>
          {% else %}
            <p>
              <strong>Occupation:</strong> Unknown
            </p>
          
          {% endif %}
          {% if person.hobbies %}
            <p>
              <strong>Hobbies:</strong> {{ person.hobbies }}
            </p>
          {% else %}
            <p>
              <strong>Hobbies:</strong> Unknown
            </p>
          {% endif %}
          {% if person.bio %}
            <div class="bio-section mt-4">
              <h5>Bio</h5>
              <p>{{ person.bio }}</p>
            </div>
          {% endif %}
        </div>
        <div class="d-flex justify-content-end mt-1">
          <a href="{% url 'family_view' pov_id %}" class="btn btn-secondary" aria-label="Go Back">Go Back</a>
        </div>
        
      </div>
    {% endif %}
  </div>
{% endblock %}
