:root {
    --sub-color: #e8bc2c;
}
body {
    background: linear-gradient(to bottom, rgba(39, 137, 4, 0.567), rgba(111, 66, 2, 0.6)), url('/static/images/backgrounds/home/corny-backgrorund.webp');
}
.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/static/images/backgrounds/home/leaves.webp');
    backdrop-filter: blur(8px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 6rem 2rem;
    border-radius: 1rem;
}

.hero-title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 1.3rem;
    color: var(--sub-color);
    max-width: 600px;
    margin: 1rem auto;
}

.hero-btn {
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    border-radius: 2rem;
}

#feature-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/static/images/backgrounds/home/trunk.webp');
    backdrop-filter: blur(8px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 6rem 2rem;
    border-radius: 1rem;
}

#feature-section h2,
#feature-section p,
#feature-section a {
    color: white !important
}

#feature-section h5 {
    color: var(--sub-color);
}

.undertitle {
    color: var(--sub-color);
}

#end-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/static/images/backgrounds/home/roots.webp');
    backdrop-filter: blur(8px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 6rem 2rem;
    border-radius: 1rem;
}

#end-container h2,
#end-container p {
    color: white !important
}


@media (max-width: 768px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }
}