{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'add_self' as add_self_url %}
{% url 'contact' as contact_url %}
{% url 'datenschutz' as datenschutz_url %}
{% url 'demo' as 'demo_url' %}
{% url 'impressum' as impressum_url %}
{% url 'home' as home_url %}
{% url 'family_view' person.id as 'family_view_url' %}
{% url 'person_of_the_day' as people_of_history_url %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Startview</title>
    {% comment %}Bootstrap CDN{% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous" />
    {% comment %}Custom CSS{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}" />
    {% comment %}Font Awesome CDN{% endcomment %}
    {% block extra_css %}

    {% endblock %}
    {% comment %}HTMX CDN{% endcomment %}
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logos/yggdrasil_logo.png' %}" alt="Yggdrasil Homepage" class="logo-image" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

          <div class="collapse navbar-collapse" id="navbarText">
            <!-- Linke Seite -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {% if request.path == home_url %}active{% endif %}" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == demo_url %}active{% endif %}" href="{% url 'demo' %}">Demo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == people_of_history_url %}active{% endif %}" href="{{ people_of_history_url }}">People of History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == faq %}active{% endif %}" href="{% url 'faq' %}">FAQ</a>
              </li>
              {% if user.is_authenticated %}
                {% if person %}
                  {% url 'family_view' person.id as family_view_url %}
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == family_view_url %}active{% endif %}" href="{{ family_view_url }}">View Family</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == add_self_url %}active{% endif %}" href="{{ add_self_url }}">Start your family tree</a>
                  </li>
                {% endif %}
              {% endif %}
            </ul>

            <!-- Rechte Seite -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link {% if request.path == logout_url %}active{% endif %}" href="{% url 'account_logout' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link {% if request.path == signup_url %}active{% endif %}" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{% url 'account_login' %}">Login</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      {% if messages %}
        <div class="container mt-3">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% block content %}

      {% endblock %}
    </main>

    <footer class="footer text-center bg-white">
      <div class="container">
        <p class="footer-text">© {{ year }} Yggdrasil – The Tree of Family. All rights reserved.</p>
        <nav class="footer-nav">
          <a href="{% url 'impressum' %}">Impressum</a> |
          <a href="{% url 'datenschutz' %}">Datenschutz</a> |
          <a href="{% url 'contact' %}">Kontakt</a>
        </nav>
      </div>
    </footer>

    {% comment %}Bootstrap JS CDN{% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
    {% block javascript %}

    {% endblock %}
  </body>
</html>
