{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'add_self' as add_self_url %}
{% url 'contact' as contact_url %}
{% url 'privacy_policy' as privacy_policy_url %}
{% url 'legal_notice' as legal_notice_url %}
{% url 'home' as home_url %}
{% if person and person.id %}
  {% url 'family_view' person.id as family_view_url %}
{% endif %}
{% url 'person_of_the_day' as people_of_history_url %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}
      <!-- Default Meta Tags -->
      <meta name="description" content="Create your family tree with Yggdrasil - private, secure and visual." />
      <meta property="og:title" content="Yggdrasil - The Tree of Family" />
      <meta property="og:description" content="Explore your family roots with a modern, data-secure family tree app." />
      <meta property="og:image" content="{% static 'images/logos/yggdrasil_logo.webp' %}" />
      <meta property="og:type" content="website" />
    {% endblock %}
    {% block title %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/logos/yggdrasil_logo.webp' %}" />
    {% comment %}Bootstrap CDN{% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    {% comment %}Custom CSS{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}" />
    {% comment %}Font Awesome CDN{% endcomment %}
    {% block extra_css %}

    {% endblock %}
    {% comment %}jQuery CDN for Select2{% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    {% block form_media %}

    {% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}" aria-label="Yggdrasil logo"><img src="{% static 'images/logos/yggdrasil_logo.webp' %}" alt="Yggdrasil Logo" class="logo-image" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarText">
              <!-- Linke Seite -->
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link {% if request.path == home_url %}active{% endif %}" href="{% url 'home' %}" aria-label="Home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.path == people_of_history_url %}active{% endif %}" href="{{ people_of_history_url }}" aria-label="People of history">People of History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.path == faq %}active{% endif %}" href="{% url 'faq' %}" aria-label="Frequently asked questions">FAQ</a>
                </li>
                {% if user.is_authenticated %}
                  {% if person and person.id %}
                    {% url 'family_view' person.id as family_view_url %}
                    <li class="nav-item">
                      <a class="nav-link {% if request.path == family_view_url %}active{% endif %}" href="{{ family_view_url }}" aria-label="Fiew your Family">View your Family</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link {% if request.path == add_self_url %}active{% endif %}" href="{{ add_self_url }}" aria-label="Start your familytree">Start your familytree</a>
                    </li>
                  {% endif %}
                {% endif %}
              </ul>

              <!-- Rechte Seite -->
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" href="{% url 'account_logout' %}" aria-label="Logout">Logout</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" href="{% url 'account_signup' %}" aria-label="Register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{% url 'account_login' %}" aria-label="Login">Login</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main>
        {% if messages %}
          <div class="container mt-3 message-container">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% block content %}

        {% endblock %}
      </main>
    </div>
    <footer class="footer text-center bg-white">
      <div class="container">
        <p class="footer-text">
          © {{ year }} Yggdrasil – The Tree of Family. All rights reserved. Created by<a href="https://github.com/fairytaib" target="_blank" rel="noopener noreferrer" aria-label="Link to Github">Sophjan Moubarrid</a>
        </p>
        <nav class="footer-nav">
          <a href="{% url 'legal_notice' %}" aria-label="Legal notice">Legal Notice</a> |
          <a href="{% url 'privacy_policy' %}" aria-label="Privacy Policy">Privacy Policy</a> |
          <a href="{% url 'contact' %}" aria-label="Contact">Contact</a>
        </nav>
      </div>
    </footer>

    {% comment %}Bootstrap JS CDN{% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous" defer></script>
    <script src="{% static 'javascript/base.js' %}" defer></script>
    {% block javascript %}

    {% endblock %}
  </body>
</html>
