
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url('/static/images/backgrounds/familytree/background.webp');
    color: #3e3e3e;
}


h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #efc971;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #d2b48c;
    margin: 10px auto 0;
    border-radius: 2px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ededed;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.tree-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
    position: relative;
}

.tree-level::after {
    content: "";
    width: 80%;
    height: 1px;
    background: #d2b48c;
    position: absolute;
    top: -20px;
    left: 10%;
    opacity: 0.4;
}

.person-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}

/* person cards */
.person-box {
    font-family: 'Merriweather', serif;
    background: linear-gradient(to bottom, rgb(26 77 8 / 71%), rgb(77 47 5 / 87%)), url('/static/images/backgrounds/home/corny-backgrorund.webp');
    border: 1px solid #d9c4a683;
    padding: 15px 20px;
    border-radius: 15px;
    min-height: 200px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person-box:hover {
    background-color: #fff2db;
    transform: scale(1.01);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.person-name p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.person-name .birthday-display {
    font-size: 1.1rem;
    color: #eeecec;
    margin-bottom: 0.3rem;
    text-align: center;
    letter-spacing: 1.3px;
}

.current-focus {
    background-color: #f0c14bd8;
    padding: 1px;
    margin: 0;
    width: 60%;
    color: #111;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

/* button section */
.person-actions {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    gap: 6px;
}

.person-actions .btn {
    letter-spacing: 1px;
    color: white;
    background-color: #4b3b2a;
    font-size: 1rem;
    font-weight: 600;
    padding: 4px 6px;
    border-radius: 8px;
}

.person-actions .btn:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(45, 137, 11, 0.514); 
}

.person-box.pov {
    border: #f2010183 solid 3px;

}

.deactivated{   
    opacity: 0.5;
    pointer-events: none;
}
@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    .person-box {
        min-width: 120px;
        font-size: 14px;
    }
}